@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {
    font-family:'Sarala' ;
    src:url();
    font-weight: normal;
}




:root {
    --cor0: #B9C1EB;
    --cor1 :#B9EBC4;
    --cor2: #EBB9C0;
    --cor3: #EBDFB9;
    --cor4: #7e6669;

    --fonte-padrao: Arial,Verdana,Helvetica,sans-serif;
    --fonte-destaque: 'Sarala', sans-serif;
    --fonte-especial:'Righteous', sans-serif;
}

        * {
            margin:0px;
            padding: 0px;
            
        }

        body {
            font-family: 'Sarala', sans-serif; 
            background-color:var(--cor3);
            
        }

        header {
            background-color: var(--cor2);
        }

        header > h1 {
            color:var(--cor4);
            font-family: 'Righteous', sans-serif;
            

        }

        nav{
            background-color: var(--cor0);
        }

        main {
            min-width: 300px;
            max-width: 1000px;
            padding: 20px;
            margin: auto;
            margin-bottom: 30px;
            background-color: white; 
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.055); 
            border-bottom-left-radius: 10px;
            

        }

        main h1 {
        background-color: var(--cor1);
        color: var(--cor4);
        font-family: 'Righteous', sans-serif;
        }

        main h2 {
            font-family: 'Righteous', sans-serif; 
            background-color: var(--cor2); 
            color: var(--cor4);
        }

        main img {
            width: 100%;
        }

        main img.pequena {
            width: 50%;
            display: block;
            margin: auto;
        }

        footer {
            background-color: var(--cor4);
            color:white;
        }